# Category Distribution
This notebook will generate a bar chart showing how much is spent in each category

In [3]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# navigate to the Features folder
import sys
sys.path.append(sys.path[0]+'/../Features') # .. instead of . because we're in the Jupyter Tools folder

# import features
import helper
import category_module

In [5]:
# read the file expenses.csv from Data folder as a dataframe
expenses_df = pd.read_csv('../Data/Expenses.csv')

# convert the column "Amount" to float
expenses_df.Amount = expenses_df.Amount.astype(float)

expenses_df.head()

,Unique ID,Description,Category,Amount,Date,Account,Third Party
0,1676269022628416,Randomly generated expenses for Business Services,Business Services,698.0,2015-01-01,Amex Blue Cash Preferred,NaN
1,1676269022628740,Randomly generated expenses for Health and Fit...,Health and Fitness,853.0,2015-01-01,Capital One Savor,NaN
2,1676269022629187,Randomly generated expenses for Pet,Pet,786.0,2015-01-01,Chase Freedom Flex,NaN
3,1676269022629212,Randomly generated expenses for Home,Home,670.0,2015-01-02,Chase Freedom Flex,NaN
4,1676269022629229,Randomly generated expenses for Shopping,Shopping,958.0,2015-01-02,Discover It,NaN

In [ ]:
# get the unique categories
categories = expenses_df.Category.unique()

# create a dictionary to store the total amount spent in each category
category_amount = {}

# loop through the categories
for category in categories:
    # get the total amount spent in each category
    category_amount[category] = category_module.sum_category(expenses_df, category, '')

In [ ]:
# sort the data
category_df = category_df.sort_values(by=['Amount'], ascending=False)

# create the bar chart
plt.figure(figsize=(20, 10)) # size
ax = sns.barplot(x = 'Category', y = 'Amount', data = category_df)

# shows value on top of each bar
for i in ax.containers:
    ax.bar_label(i,)

plt.show()