# Sampling Tool
Sample a few transactions from a larger dataset for testing purposes

In [2]:
import datetime
import random
import pandas as pd

# navigate to the Features folder
import sys
sys.path.append(sys.path[0]+'/../Features') # .. instead of . because we're in the Jupyter Tools folder

# import features
import helper

In [3]:
# read in the main data
main_df = pd.read_csv('../Data/Expenses.csv')

main_df.head()

,Description,Category,Amount,Date,Account,Third Party
0,Randomly generated expenses for Reimbursable o...,Reimbursable or Refundable,415,2015-01-01,Chase Freedom Flex,NaN
1,Randomly generated expenses for Food and Dining,Food and Dining,971,2015-01-01,Discover It,NaN
2,Randomly generated expenses for Food and Dining,Food and Dining,502,2015-01-02,Capital One Savor,NaN
3,Randomly generated expenses for Health and Fit...,Health and Fitness,822,2015-01-02,Chase Freedom Flex,NaN
4,Randomly generated expenses for Pet,Pet,389,2015-01-03,Chase Freedom Flex,Cara

In [ ]:
# list holding the random transactions